/.gitattributes
~$portReview1.docx
~WRL2354.tmp
/~$portReview1.docx
/~WRL2673.tmp
/.idea
/Task 1/~$Task1.docx
/Task 1/tempCodeRunnerFile.py
/Task 1/.ipynb_checkpoints
/Task 1/coords.py
/Task 1/Field_Interactive.html
/Task 1/Field.html
/Review 2/Field_Interactive.py
/Review 2/tempCodeRunnerFile.py
/Review 2/Review 2 Data Viz.docx
/Review 1/Review 1 Data Viz Group 9.pdf